modules = ["nodejs-24", "python-3.11", "python3", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_bGlrZWQtd29tYmF0LTE2LmNsZXJrLmFjY291bnRzLmRldiQ"
IMAP_HOST = "imap.gmail.com"
IMAP_PORT = "993"
IMAP_USER = "admcst001@gmail.com"
ADMIN_EMAILS = "divatranssoetta@gmail.com,admcst001@gmail.com,almanosetiawan@gmail.com"
PORTAL_ADMIN_EMAILS = "divatranssoetta@gmail.com"
FONNTE_ADMIN_WA = "6281288195206"

[userenv.development]
ADMIN_EMAIL_DOMAINS = "example.com"

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[objectStorage]
defaultBucketID = "replit-objstore-e357cc66-19c3-4d73-9ca9-3069d78355d1"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 18442
externalPort = 80

[[ports]]
localPort = 19368
externalPort = 3002

[[ports]]
localPort = 21170
externalPort = 3003

[[ports]]
localPort = 23434
externalPort = 3001
